/*
Theme Name: Surfers Paradise
Theme URI: https://www.upwork.com/freelancers/~017b6e58d6cd37bcad
Author: Sofia Funes
Author URI: https://www.upwork.com/freelancers/~017b6e58d6cd37bcad
Description:  Wordpress creado con HTML, CSS (SASS) y Jquery
Version: 1.0
*/


*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #fff;
  font-family: "Open Sans";
  font-size: 16px; }

.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
   }

/* ----- ----- HEADER ----- ----- */

    header {
  background: url(./img/hol.jpg), #019851;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 700px;
  
    
   }

   header .contenedor{
    width: 90%;
   }
  header .contenedor_logo_menu {
    margin-left: 15px;
    display: flex;
    justify-content: center;
    padding: 25px 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.4); }
    header .contenedor_logo_menu .logo a {
      display: block; 
      border: 1px solid #B95B66;}
      header .contenedor_logo_menu .logo a img {
        vertical-align: top; }
    header .contenedor_logo_menu .menu {
      margin-top: 25px;
      text-align: center;
      line-height: 50px; }
      header .contenedor_logo_menu .menu a {
        color: #B95B66;
        position: relative;
        margin-left: 60px;
        font-size: 30px; 
       padding-bottom: 9px;
      font-family: 'Covered By Your Grace', cursive;
      display: inline-block;
      text-decoration: none;
      border-bottom: 2px solid transparent; }
      header .menu a:hover {
        color: #5B84B1FF;
        border-bottom: 2px solid #5B84B1FF; }

  header .contenedor-texto {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 140px;
    margin-bottom: 190px;
     }
    header .contenedor-texto .texto {
      display: inline-block;
      text-align: center;
      padding: 20px 60px; }
      header .contenedor-texto .texto h1, header .contenedor-texto .texto h2 {
        color: #fff;
         
        font-weight: 300;
        margin: 0; }
      header .contenedor-texto .texto .nombre {
        margin-bottom: 10px;
        font-size: 70px;
        text-shadow: 2px 2px 1px #000000;
        line-height: 50px; }

      header .contenedor-texto .texto .nombre:hover{
        color: #B95B66;
      }  
      header .contenedor-texto .texto .profesion {
        font-size: 25px;
         text-shadow: 1px 1px 1px #000000;
        margin: 20px;
        line-height: 25px; }

      header .contenedor-texto .texto .profesion:hover{
       color: #B95B66; 
      }  

      header .contenedor-texto .texto .texto1{
        margin: 70px;
        font-family: sans-serif;
        color: #fff;
       font-size: 18px;
       text-shadow: 2px 2px 5px #0f0f0f;
         
        margin: 20px;
        line-height: 18px; 
      }  


      /*main*/


  /*.main .contenedor{
    background: #f2f2f2;
    text-align: center;
  }*/

  .main .acerca{
    background: #f2f2f2;
    text-align: center;
    overflow: visible;
  }

  .main .acerca .whatwedo .titulo{
    color: #e08dac;
    font-family: 'Covered By Your Grace', cursive;
    font-size: 50px; 
    line-height: 50px;

    border: 1px solid #e08dac;
    border-radius: 1px solid;
    padding: 20px;
    width: 80%;
    margin: 40px auto 60px auto;
    text-align: center;

  }

  .main .acerca .whatwedo .titulo:hover{
    color: #5B84B1FF;}

  .main .acerca .whatwedo .parrafo{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 26px; 
    color: #636363;
    margin: 20px;
    text-align: center;
  }
  .main .acerca .whatwedo .bold{
    color: #5B84B1FF;
    
  }
      
  .galeria{
  width: 100%;
  background:#f2f2f2;
  background-repeat: no-repeat;
  background-position: center;
  

}

.galeria .contenedor{
  width: 90%;
  background: #f2f2f2;
}

.galeria .contenedor .fotowall{

display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }

    .galeria .contenedor .fotowall .thumb {
      width: 45%;
      margin-bottom: 40px; }
      .galeria .contenedor .fotowall .thumb img{
        width: 100%;
        margin-bottom: 10px; 
        vertical-align: top;
        
  margin:20px;
  padding: 2px;
  border: 1px solid #484848;
  opacity: 0.8;
}

 .galeria .contenedor .fotowall .thumb img:hover{
  border:1px solid #fff;
  opacity: 1;
}


.team{
  width: 100%;
  background: url(./img/textura1.jpg);
  
  padding: 60px 0;
}

.team .contenedor{
  overflow: hidden;
}

.team .texto .titulo{
  color: #e08dac;
    font-family: 'Covered By Your Grace', cursive;
    font-size: 50px; 
    line-height: 50px;
    border: 1px solid #f2f2f2;
    border-radius: 1px solid;
    padding: 20px;
    width: 80%;
    margin: 40px auto 60px auto;
    text-align: center;

  }

  .team .texto .titulo:hover{
    color: #5B84B1FF;}

  .team .contenedor-trabajos{
    background: rgba(255,255,255,.6);
    padding: 30px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .team .contenedor-trabajos .trabajo {
    width: 30%;
  }

  .team .contenedor-trabajos .trabajo .thumb{
    width: 100%;
    margin-bottom: 10px;}

   .team .contenedor-trabajos .trabajo .thumb img{
    width: 100%;
    vertical-align: top;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.3);
    opacity: .9;
  
   }


   .team .contenedor-trabajos .trabajo .thumb img:hover{
    opacity: 1;
    border: 2px solid #b8748d;
   }

    .team .contenedor-trabajos .trabajo .descripcion{
      text-align: center;
      color: #706677;
      font-weight: bold;

    }

    .team .contenedor-trabajos .trabajo .descripcion .nombre{
      color: #a6808c;
      font-family: 'Covered By Your Grace', cursive;
      font-size: 21px;
      margin-bottom: 7px;
      margin-top: 20px;
      border-bottom: 1px solid #a6808c;
    }

    .team .contenedor-trabajos .trabajo .descripcion .nombre:hover{
      color:#b5446e;
      border-bottom: 1px solid #b5446e;

    }

    .team .contenedor-trabajos .trabajo .descripcion .categoria{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 20px; 
    color: #636363;
    margin: 20px;
    text-align: center;
    }
  .team .contenedor-trabajos .voluntario{
    
    font-family: 'Covered By Your Grace', cursive;
    text-align: center;
    border-bottom: 1px solid transparent;
    color: #636363;
    margin: 10px auto;

  }

  .team .contenedor-trabajos .voluntario:hover{
    color:#b5446e;
      border-bottom: 1px solid #b5446e;
  }


  .lessons{
    width: 100%;
  background: url(./img/p.jpg); #f2f2f2;
  background-position: left;

  padding: 60px 0;
  }

  .lessons .contenedor{
    overflow: hidden;
  }

 .lessons .ourlessons .leccion{
  color: #e08dac;
    font-family: 'Covered By Your Grace', cursive;
    font-size: 50px; 
    line-height: 50px;
    border: 1px solid #ccc;
    border-radius: 1px solid;
    padding: 20px;
    width: 80%;
    margin: 40px auto 60px auto;
    text-align: center;

  }

.lessons .ourlessons .leccion:hover{color: #5B84B1FF;

}

.lessons .caja1{
  background: rgba(255,255,255,.7);
    padding: 30px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

 .lessons .caja1 .box {
  width: 45%;

 } 

.lessons .caja1 .box .photo{
  width: 100%;
    margin-bottom: 10px;}

.lessons .caja1 .box .photo img{
    width: 100%;
    vertical-align: top;
    border-radius: 50%;
    border: 3px solid #a3d5ff;
    opacity: .9;

     
   }
.lessons .caja1 .box .photo img:hover{
opacity: 1;
    border: 3px solid #b8748d; 


   }
.lessons .caja1 .box .clases{
text-align: center;
      color: #706677;
      font-weight: bold;   }

 .lessons .caja1 .box .clases .tit{
  color: #a6808c;
      font-family: 'Covered By Your Grace', cursive;
      font-size: 21px;
      margin-bottom: 7px;
      margin-top: 20px;
      border-bottom: 1px solid #a6808c;

 }      

 .lessons .caja1 .box .clases .textlesson{

  font-family: 'Darker Grotesque', sans-serif;
    font-size: 20px; 
    color: #636363;
    margin: 20px;
    text-align: center;

    border-bottom: 1px solid #a6808c;

 }


  .reviews {
  padding: 70px;
  background: #f0d3f7; }
  .reviews .titulo {
    color: #e08dac;
    font-family: 'Covered By Your Grace', cursive;
    font-size: 50px; 
    line-height: 50px;
    border: 1px solid #e08dac;
    border-radius: 1px solid;
    padding: 20px;
    width: 80%;
    margin: 40px auto 60px auto;
    text-align: center;}

    .reviews .titulo:hover { 
       color: #5B84B1FF;}

  .reviews .cliente {
    overflow: hidden;
    margin-bottom: 20px; }
     .reviews .cliente .foto {
      width: 20%;
      float: left;
      text-align: right; }
       .reviews .cliente .foto img {
        max-width: 100px;
        width: 100%;
        vertical-align: top;
        border-radius: 100% ;
         }
     .reviews .cliente .review {
      float: left;
      width: 80%;
      padding: 0 30px;
      margin-top: 20px; }
      .reviews .cliente .review .texto {
         font-family: 'Darker Grotesque', sans-serif;
    font-size: 25px; 
    color: #636363;
    margin: 20px;
    text-align: center;}
      .reviews .cliente .review .nombre {
        font-family: 'Darker Grotesque', sans-serif;
        color: #e08dac;
        font-size: 25px; }

     .reviews .cliente.derecha .foto {
      float: right;
      text-align: left; }
     .reviews .cliente.derecha .review {
      float: right;
      text-align: right; }


     .bring {
      padding: 50px;
  background: url(./img/textura.jpg);
  background-position: left;
  background-repeat: no-repeat; }

     

     .bring .contenedor .articulo {

    background:rgba(255,255,255,.8);
    padding: 30px;
    margin: 20px;

     }

  .bring .contenedor .br{
     color: #e08dac;
    font-family: 'Covered By Your Grace', cursive;
    font-size: 50px; 
    line-height: 50px;
    border: 2px solid #e08dac;
    border-radius: 1px solid;
    padding: 20px;
    width: 80%;
    margin: 40px auto 60px auto;
    text-align: center;
      }

   .bring .contenedor .br:hover{  
       color:#5B84B1FF; } 

   .bring .contenedor .textlesson{
    font-family: 'Darker Grotesque';
    font-size: 25px;
    font-style: bold;
    line-height: 25px;
    color: #636363;
    margin: 25px;
    text-align: center;

 }    

 footer {
  padding: 20px;
  background: url('./img/s.jpg');
  background-repeat: no-repeat;
  background-position: right;
   }

footer .contenedor{
  width: 100%;

  background:rgba(255,255,255,.5);
    
    margin: 20px, auto;
    margin-bottom: 40px;

  }
footer .contenedor .titulo{
color: #d0538d;
    font-family: 'Covered By Your Grace', cursive;
    font-size: 40px; 
    line-height: 40px;
    border: 1px solid #d0538d;
    border-radius: 1px solid;
    padding: 20px;
    width: 80%;
    margin: 40px auto 60px auto;
    text-align: center;}

    footer .contenedor .titulo:hover { 
       color: #5B84B1FF;}

       footer .contenedor .datos{
        padding: 20px 20px;
        display: flex;
        flex-flow: row;
        flex-wrap: nowrap;
        justify-content: space-between;

       }
    
    footer .contenedor .datos .pic{
    margin: 15px auto;
    flex: auto;
    
    }

    footer .contenedor .datos .pic img{
     
 -webkit-transition: all 0.5s ease-out;
 -moz-transition: all 0.5s ease;
 -ms-transition: all 0.5s ease;

    }

 footer .contenedor .datos .pic img:hover{
    -webkit-transform: rotate(+360deg);
 
 -moz-transform: rotate(+360deg);
 -ms-transform: rotate(+360deg);
 transform: rotate(+360deg);
}

footer .contenedor .datos .info {
  flex: auto;
  font-family: 'Darker Grotesque', sans-serif;
    font-size: 25px;
    font-style: bold;
    line-height: 25px;
    color: #636363;
    margin: 25px;
    text-align: left;

  
}

.redes-sociales {
  width: 100%;
  background:;
    padding: 30px;
    margin: 20px, auto;

  
}

.redes-sociales .contenedor {
  background: #f0d3f7;
  padding: 10px 0; }
  footer .redes-sociales .contenedor {
    display: flex;
    justify-content: center; }
    footer .redes-sociales .contenedor a {
      color: #b24c63;
      text-align: center;
      width: 100px;
      font-size: 30px;
      padding: 10px 0;
      display: block;
      margin: 0 20px;
      border-radius: 3px; }

    footer .redes-sociales .contenedor .facebook:hover {
      color:#fff;
      background: #3b5998; }
    footer .redes-sociales .contenedor .google:hover {
      color:#fff;
      background: #db4a39; }
    footer .redes-sociales .contenedor .trip:hover {
      color:#fff;
      background: #00af87; }
    footer .redes-sociales .contenedor .instagram:hover {
      color:#fff;
      background: #3f729b; }


      footer .copyright {
  text-align: center;
  
}


      

        footer .copyright a
        {
          
      text-decoration: none;
      display: inline-block;
          color: #d8315b;
      font-family: 'Covered By Your Grace', cursive;
      font-size: 21px;
      margin-bottom: 7px;
      margin-top: 20px;}
     

     @media screen and (max-width: 700px) {
  header .menu {
    text-align: center;}

  header .logo {
    display: none;
  }

  header .contenedor_logo_menu .menu {
      margin-top: 25px;
      text-align: center;
      line-height: 25px; }
      header .contenedor_logo_menu .menu a {
        color: #B95B66;
        position: relative;
        margin-left: 20px;
        font-size: 25px; 
       padding-bottom: 9px;
      font-family: 'Covered By Your Grace', cursive;
      display: inline-block;
      text-decoration: none;
      border-bottom: 2px solid #B95B66; }
  
  .galeria .contenedor .fotowall{
      width: 100%;}

      .galeria .contenedor .fotowall .thumb {
      width: 100%;
      margin-bottom: 40px; }
      .galeria .contenedor .fotowall .thumb img{
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px; 
        vertical-align: top;
         margin:20px;
         padding: 2px;
        border: 1px solid #484848;
      opacity: 0.8;}


.team .contenedor-trabajos{
    background: rgba(255,255,255,.6);
    padding: 30px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .team .contenedor-trabajos .trabajo {
    width: 100%;
  }

  .team .contenedor-trabajos .trabajo .thumb{
    width: 100%;
    margin-bottom: 10px;}

   .team .contenedor-trabajos .trabajo .thumb img{
    width: 100%;
    vertical-align: top;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.3);
    opacity: .9;
  
   }

    .team .contenedor-trabajos .trabajo .descripcion{
      text-align: center;
      color: #706677;
      font-weight: bold;

    }

    .team .contenedor-trabajos .trabajo .descripcion .nombre{
      color: #a6808c;
      font-family: 'Covered By Your Grace', cursive;
      font-size: 21px;
      margin-bottom: 7px;
      margin-top: 20px;
      border-bottom: 1px solid #a6808c;
    
    }

    .team .contenedor-trabajos .trabajo .descripcion .categoria{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 20px; 
    color: #636363;
    margin: 20px;
    text-align: center;
    }
  .team .contenedor-trabajos .voluntario{
    
   display: none;

  }

  .reviews {
    display: none;}


     footer .contenedor .datos{
      width: 100%
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: space-between;

       }
    
    footer .contenedor .datos .pic{
      width: 100%;
    margin: 15px auto;
    flex: auto;
    
    }

    footer .contenedor .datos .pic img{
      width: 60%;
      justify-content: center;
     
 -webkit-transition: all 0.5s ease-out;
 -moz-transition: all 0.5s ease;
 -ms-transition: all 0.5s ease;

    }

 footer .contenedor .datos .pic img:hover{
    -webkit-transform: rotate(+360deg);
 
 -moz-transform: rotate(+360deg);
 -ms-transform: rotate(+360deg);
 transform: rotate(+360deg);
}

footer .contenedor .datos .info {
  width: 100%;
  flex: auto;
  font-family: 'Darker Grotesque', sans-serif;
    font-size: 25px;
    font-style: bold;
    line-height: 25px;
    color: #636363;
    margin: 25px;
    text-align: left;}


 




